/* color palette from <https://github.com/vuejs/theme> */
:root {
    --white: #ffffff;

    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;

    --black: #181818;
    --black-soft: #222222;
    --black-mute: #282828;

    --primary-200: rgb(77, 253, 194);
    --primary: hsla(160, 100%, 37%, 1);
    --primary-transparent: hsla(160, 100%, 37%, 0.2);
    //STATUS COLORS
    --success: #0abf30;
    --error: #f24d4c;
    --warning: #e9bd0c;
    --info: #3498db;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-text: var(--gray-200);
}
